<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>

</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <tr>
        <th>ID</th>
        <td th:text="${userDetails.getUser().id}">1</td>
    </tr>
    <tr>
        <th>Имя</th>
        <td th:text="${userDetails.getUser().firstName}">name</td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td th:text="${userDetails.getUser().lastName}">lastname</td>

    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${userDetails.getUser().email}">example@example.com</td>
    </tr>
</table>
<a href="/logout">logout</a>
</body>
</html>